#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
}

aside {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 64px;
	align-items: center;
}

.section-list-items {
	margin: 0 auto;
	align-self: baseline;
}

.section-list-items > h2 {
	font-size: 3.2em;
	line-height: 1.1;
}

h1 {
	font-size: 32px;
	line-height: 1.1;
	margin: 0;
	text-align: center;
}

h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.1;
	margin: 0;
}
ul {
	list-style: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

form > button {
	width: fit-content;
}

label {
	font-size: 14px;
}

label > input {
	background-color: #444;
	border-radius: 4px;
	cursor: default;
	border: 1px solid #555;
	display: block;
	margin-bottom: 32px;
}
